.button {
  font-family: inherit;
  font-size: 18px;
  border: none;
  padding: 5px 10px;
  color: #ffff;
  background: #1f6ed7;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.button:hover:active {
  transform: scale(0.95);
}

.button--reset {
  background-color: gray;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}
