@font-face {
  font-family: "InterTight-Regular";
  src: url("../fonts/InterTight-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "InterTight-SemiBold";
  src: url("../fonts/InterTight-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Exo2-SemiBold";
  src: url("../fonts/Exo2-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
