input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input {
  box-sizing: border-box;
  width: 100%;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  border-radius: 10px;
  background-color: #fefefe;
  color: #000000;
  border: none;
  margin: 0 0 10px;
}

input:focus-visible {
  outline: 1px solid #1f6ed7;
}

input::placeholder {
  color: #979797;
  font-size: 14px;
}
